
body{
    text-align: center;
    background-color : rgba(230, 195, 17, 0.4);
    opacity : 0.6rem;
}
.box{
    height : 15rem;
    width : 35rem;
    border : 0.17rem solid black;
    margin : auto;
    margin-top : 1rem;
    border-radius : 1rem;
    box-shadow: 0.1rem 0.3rem 0.2rem black;
}
button{
    height : 3rem;
    width : 10rem;
    background-color: black;
    color : white;
    font-weight: 700;
    border-radius : 1rem;
    font-size: 0.9rem;
    box-shadow : 0rem 0.2rem gold;
    margin-top : 1rem;
    margin-bottom : 1rem;
}
button:hover{
    height : 3.2rem;
    width : 10.2rem;
    opacity: 0.9;
    cursor : pointer;
}
button:active{
    height : 2.8rem;
    width : 9.8rem;
}
